.header {
    &__title {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 200px;
        line-height: 156px;
        max-width: 467px;
        opacity: 0.07;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 4;
    }
    &__aside {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        border-right: 1px solid rgba(#fff, .25);
        height: 100vh;
        text-align: center;
    }
    &__search {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    &__date {
    font-weight: 800;
    font-size: 72px;
    line-height: 64px;
    text-transform: uppercase;
    span {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 1.4px;
        margin-bottom: 30px;
        display: block;
        padding-top: 15px;
    }
    }
    &__location {
        display: inline-block;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 1.4px;
        position: relative;
        padding-left: 19px;
        &::before {
            content: '';
            position: absolute;
            width: 11px;
            height: 13px;
            background-image: url('../../images/svg/location.svg');
            left: 0;
            top: 0;
        }
    }
}

.menu {
    padding-top: 40px;
    &__icon {

    }
    &__list {
        margin: 0;
        padding: 0;
        span {
            display: block;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 3px;
            padding-top: 6px;
            margin-bottom: 20px;
        }
    }
}