.surf {
    padding: 160px 0 210px;
    background-image: url('../../images/svg/serf-location.svg');
    background-position: right 200px;
    background-repeat: no-repeat;
    background-size: auto;
    &__subtitle {
        text-transform: uppercase;
        text-align: right;
        padding-right: 80px;
        margin-top: -86px;
    }
}

